:root {
  --primary-color: #8c3030;
  --secondary-color: #f0f2a7;
  --tertiary-color: #d9756c;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--secondary-color);
  font-family: sans-serif;
  margin: 0;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  border-bottom: 5px solid var(--tertiary-color);
}
.hidden {
  display: none;
}
#welcomeMessage{
color: var(--primary-color);
font-size: 25px;
text-align: center;
margin: 10px 0px ;
}
#logoutButton{
  background-color: var(--secondary-color);
  border-radius: 25px;
  color: var(--primary-color);
  font-size: large;
  font-weight: 500;
  width: 100px;
  height: 50px;
  justify-content: left;
}
.search {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 50px;
  font-size: 1rem;
  padding: 1rem;
  color: var(--secondary-color);
}
.search::placeholder {
  color: var(--secondary-color);
}
.search:focus {
  outline: var(--tertiary-color);
}
main {
  display: flex;
  flex-wrap: wrap;
}
.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--primary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.movie img {
  width: 100%;
}
.movie-info {
  color: #f2dcdc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 1px;
}
.movie-info span {
  background-color: var(--tertiary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}
.movie-info span.green {
  background-color: green;
}
.movie-info span.orange {
  background-color: orange;
}
.movie-info span.red {
  background-color: red;
}
.overview {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: medium;
  max-height: 90%;
  transform: translateY(101%);
  transition: transform 0.3s ease;
}
.movie:hover .overview {
  transform: translateY(0);
}
#dashboardLink{
  background-color: var(--secondary-color);
  border-radius: 25px;
  color: var(--primary-color);
  font-size: medium;
  font-weight: 500;
  width: 100px;
  height: 50px;
}
#myform{
  display: flex;
  align-items: left;
}
